.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__ttl a {
    text-decoration: none;
    color: #00277e;
    margin-left: 10px;
}
.header__nav-list {
    list-style: none;
    margin-right: 10px;
}
.header__nav-list li {
    display: inline-block;
    margin: 10px;
}
.header__nav-list li a {
    text-decoration: none;
    color: #00277e;
}
.content {
    position: relative;
    top: 100px;
}
.content__img img {
    display: block;
    float: right;
    width: 50%;
    height: 400px;
    z-index: 10;
}
.content__txt {
    position: absolute;
    top: 200px;
    font-size: 50px;
}
.content__bluebox {
    position: absolute;
    top: 300px;
    right: 25%;
    width: 80%;
    height: 200px;
    background-color: #00277f;
    z-index: -10;
}
body {
    margin: 0;
}